{% for comment in message.comment_set.all %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <a href="#" active><h4>{{ comment.author }}</h4></a>
    </div>
        <div class="panel-body">
          <div class="col-md-1">
            <h1>5</h1>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-minus"></span></button>
          </div>
          <div class="col-md-2">
              {% load staticfiles %}
            <img class="user-big-icon" src="https://goo.gl/q26Tmc">
          </div>
          <div class="col-md-8">
            <p>{{ comment.text }}</p>
            <b>Comment date: {{ comment.pub_date }}</b>
          </div>
        </div>
    </div>
{% endfor %}